* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

.child{
  font-size: 18px;
  padding: min(20px, 2%);
  /* font-family: 'Roboto Flex', sans-serif; */
}

body { 
  padding-top: 70px;
  /* font-family: 'Big Shoulders Inline Display', sans-serif; */
  /* font-family: 'Roboto Flex', sans-serif; */
  font-family: 'Sarabun', sans-serif;
}

figcaption{
  font-size: 20px;
  float: right;
  padding-bottom:  min(40px, 4%);
  padding-right: min(20px, 2%);
}

.text-gray{
  color: lightgray;
}

/* ---- grid ---- */
.apple{
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .8);
}

.grid {
  /* background: #DDD; */
  margin-right: min(10px, 1%);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.33%;
  padding-left: min(20px, 2%);
  padding-bottom: min(10px, 1%);
}

@media (max-width: 1000px) {
  .grid-item {
    width: 100vw;
    padding-left: min(10px, 1%);
    padding-right: min(10px, 1%);
    padding-bottom: min(10px, 1%);
  }

  
}

.grid-item {
  float: left;
}

.grid-item img:hover{
  outline: solid;
  outline-color: lightgray;
  outline-width: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border-radius: max(10px, 1%);
}

.out-of-focus {
  opacity: 0.1;
  filter: blur(5px);
}